.body{
    background-color:rgba(137, 43, 226, 0.247);
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 40px 10px;
}


nav{
    background-color: teal;
    color: violet;
    position: absolute top;
    font-size: medium;
    font-style: italic;
}
header{}

img {
    width:300px;
    margin: 20px;
    border: 2px solid rgb(204, 0, 255);
    } 