body{
    background-color:rgba(62, 15, 105, 0.507);
    color:white;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 40px 10px;
}


ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color:white;
  }

li a:hover:not(.active) {
    background-color:rgba(71, 70, 180, 0.507);
  }
  
  .active {
    background-color: #4c74af;
  }


img {
    width:300px;
    margin: 20px;
    border: 2px solid rgb(204, 0, 255);
    } 
  .img:hover {
      border: 1px solid #777;
  }

   