body{
    background-image: url(https://raw.githubusercontent.com/gabriel-rausch/EIA1-Material/master/L03/task_material/images/bg.png);
    font-family: Arial, sans-serif;
    text-align: center;
    text-decoration: none;
}


ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color:white;
  }

li a:hover:not(.active) {
    background-color:rgba(71, 70, 180, 0.507);
  }
  
  .active {
    background-color: #4c74af;
  }
  nav#fixed {
    position: fixed;
  }

  img {
    width:300px;
    margin: 20px;
    border: 2px solid rgb(204, 0, 255);
    } 
  }

   