
h1{
  transition: color 2s ease-in-out 0s;
  color: rgba(255, 72, 0, 0.856);
}

div h1{
  color:rgba(187, 54, 2, 0.767)
}

h1+p {
  color: hotpink;
}

h1:hover{
  color:black;
}

.header-text{
  background:rgba(255, 72, 0, 0.856);
  height: auto;
  width:400px;
  border-radius: 0px 0px 600px 600px;
  position: fixed relative;
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.icon :hover:not(.active){
  border-color: white;
}

.icon img{
  width: 25px;
  border-color: black;
  border-width: thin;
  border-style: solid;
  border-width: 20px;
}

body{
  position: relative;
  background-image: url(https://raw.githubusercontent.com/gabriel-rausch/EIA1-Material/master/L03/task_material/images/bg.png);
  font-family: Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  width: 400px;
  border: 0px;
  padding: 0px;
  margin: 0 auto;
}

header nav ul{
  list-style-type: none;
  margin-right: auto;
  text-align: right;
  padding: 0;
  overflow: hidden;
}
header nav ul li {
  float: right;
}
  
header nav ul li a {
    color: white;
    display: block;
    padding: 8px;
    background-color:black;
}

header nav ul li a:hover:not(.active) {
    background-color:rgba(255, 72, 0, 0.856);
}

  
  
.active {
    background-color: rgba(255, 72, 0, 0.856);
}

nav{
    position: fixed;
}

img {
  display: block;
  margin: auto;
  width: 100%;
  height: 50%;
  
    border: 2px solid rgba(255, 72, 0, 0.856);
}


.formular{
    background: none;
    font-size: 20px;
    color: grey;
    width: 400px;
    height: 400px;
    padding: 5px 5px 5px 5px;
    margin-right: auto;
    text-align: left;
}

#button{
  color:grey;
}

#medien{
  width: 100%;
}

img [alt=selfie]{
  width: 50%;
}

audio{
  border: 2px solid rgba(255, 72, 0, 0.856);
  width:300px;
}

iframe{
  border: 2px solid rgba(255, 72, 0, 0.856);
  width:300px;
}
iframe :hover:not(.active){
  width:800px;
}

video{
  border: 2px solid rgba(255, 72, 0, 0.856);
  width:300px;
}

ol{
  list-style: square;
  background-color: rgba(255, 72, 0, 0.856);
  border: 5px solid black;
  padding:0px;
}

ol~li{
  text-align: center;
  font-size: 25px;
  display: inline-block;
  width: 400px;
  padding: 5px;
  color: black;
}

thead{
  width: 800px;
  background-color: rgba(255, 72, 0, 0.856);
  color: azure;
}

tbody{
  background-color: white;
}

table * {
  border-collapse: collapse;
  border: 5px solid black;
  letter-spacing: 1px;
  font-size: 25px;
}

td, th{
  border: 1px solid black;
  padding: 5px 10px;
}

td{
  text-align: center;
}

@media only screen and (min-width: 601px) {
  h1{
    color: blue;
  }
  body{
    width: 700px;
  }
  .icon img{
    width: 40px;
  }
  .header-text{
  width:600px; 
  border-radius: 0px 0px 900px 900px; 
  height: auto;
  font-size: 100pt;
  background: blue;
}

}
  

@media only screen and (min-width: 1025px) {
  h1{
    color:blueviolet;
  }
  body{
    width: 1025px;
  }
  img [alt=selfie]{
    width: 25%;
  }
  .icon img{
    width: 50px;
  }
  .header-text{
  width:1000px;  
  border-radius: 0px 0px 1500px 1500px;
  height: auto;
  font-size: 130pt;
  background:blueviolet;
  }
}


   